$black: #000;
$white: #fff;
$gray: #A0A0A0;
$gray-light: #E5E5E5;
$gray-dark: #1E1E1C;
$red:#ff0000;
$red-light: #ffa29a;
$red-dark: #681c27;
$red-soft: #ff5050;
$white-gray: #f4f5f9;
$footer-bg: #202020;

$mainFont: 'Montserrat', 'Arial', sans-serif;